{% extends 'base.html' %}





{% block content %}
<!-- {% for car in car_list %}
    {% for colname in car.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %} -->


<div style="width: 100%;" id="list_car">
    <div>
        {% if not login %}
        <form action="">
           <a href="login"><button type="button" name="session" value="">Login</button></a>
           <a href="register"><button type="button" name="session" value="">Register</button></a>
        </form>
        {% else %}
            <a href="logout"><button type="button" name="session" value="">Logout</button></a>
        {% endif %}

    </div>

    
    <table class="table table-striped">
        <tr><th>ID</th>
            <th>Make</th>
            <th>Model Name</th>
            <th>Year</th>
            <th>Condition</th>
            <th>Asking Price</th>
            <th>Seller Name</th>
            <th>Seller Mobile</th>
            <th>Action</th>
        </tr>
        
        
        
        {% for car in page_obj %}
            <tr>
                <td>{{car.id}}</td>
                <td>{{car.make}}</td>
                <td>{{car.model_name}}</td>
                <td>{{car.year}}</td>
                <td>{{car.condition}}</td>
                <td>{{car.asking_price}}</td>
                <td>{{car.seller_name}}</td>
                <td>{{car.seller_mobile}}</td>
                
                <td><a href="listing_buy_query/{{car.id}}"><input type="button" id="{{car.id}}" value="Buy" name="Buy"/></a></td>
                
            </tr>
        {% endfor %}    

        
        </table>    
       
    </div>
        
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


<script>
    function display_list_form(){
        let id_btn = document.getElementById("list_car_btn");
        id_btn.addEventListener('click',()=>{
            const form = document.getElementById('list_car');
            if (form.style.display === 'none') {
                // 👇️ this SHOWS the form
                form.style.display = 'block';
            } else {
                // 👇️ this HIDES the form
                form.style.display = 'none';
            }
        });
    }


</script>

{% endblock content %}